Repository levaintech/levain-examples, pull requests merged in 2023-10, with the labels that each got.

#16 chore(workflows): add README.md for project
  README.md
Labels: kind/chore

#17 chore(levain-json): setup levain-json for schema.json
  packages/levain-json/LevainJson.ts
  packages/levain-json/package.json
  pnpm-lock.yaml
Labels: kind/chore

#18 feat(create-levain-app): create-levain-app
  examples/contented.config.mjs
  examples/neobank/README.md
  package.json
  packages/create-levain-app/README.md
  packages/create-levain-app/cli.js
  packages/create-levain-app/package.json
  packages/create-levain-app/src/ProjectProgram.ts
  packages/create-levain-app/src/TemplateProgram.ts
  packages/create-levain-app/src/cli.ts
  packages/create-levain-app/src/utils/FolderEmpty.ts
  packages/create-levain-app/src/utils/NpmNameValid.ts
  packages/create-levain-app/tsconfig.build.json
  packages/create-levain-app/tsconfig.json
  packages/levain-json/package.json
  packages/levain-json/tsconfig.json
  pnpm-lock.yaml
Labels: kind/feature

#19 chore(workflows): publish levain-examples
  README.md
  examples/contented.config.mjs
  examples/levain-graphql-examples/README.md
  examples/levain-graphql-examples/package-lock.json
  examples/neobank/.gitignore
  examples/neobank/.npmignore
  examples/neobank/package-lock.json
  examples/neobank/package.json
  examples/neobank/vercel.json
  packages/create-levain-app/package.json
  packages/create-levain-app/src/TemplateProgram.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: kind/chore

#20 chore(workflows): fix publishing
  .github/workflows/ci.yml
  .github/workflows/release.yml
  examples/levain-graphql-examples/package.json
  package.json
Labels: kind/chore, area/workflow

#21 chore(workflows): change to npm publish
  .github/workflows/release.yml
  packages/create-levain-app/package.json
  packages/create-levain-app/src/TemplateProgram.ts
  pnpm-lock.yaml
Labels: kind/chore, area/workflow

#22 chore(workflows): npm config set to global
  .github/workflows/release.yml
Labels: kind/chore, area/workflow

#25 chore(workflows): fix building due to missing package.json in rootDir
  examples/neobank/package.json
  package.json
  packages/create-levain-app/src/ProjectProgram.ts
  pnpm-lock.yaml
Labels: kind/chore

#26 chore(workflows): add override files to replace certain files in template
  packages/create-levain-app/src/TemplateProgram.ts
Labels: kind/chore

#27 chore(workflows): add frontmatter for levain
  README.md
  examples/neobank/README.md
  packages/create-levain-app/README.md
Labels: kind/chore

#28 chore(*): bump typescript, pnpm, & contented
  examples/package.json
  package.json
  pnpm-lock.yaml
Labels: kind/chore

#33 feat(neobank): scaffold example UI
  examples/neobank/app/RootHeader.tsx
  examples/neobank/app/globals.css
  examples/neobank/app/layout.tsx
  examples/neobank/app/page.tsx
  examples/neobank/components/ActiveLink.tsx
  examples/neobank/components/LevainLogo.tsx
  examples/neobank/components/MadeWithLevain.tsx
  examples/neobank/components/StyledTable.tsx
  examples/neobank/components/ThemeSelector.tsx
  examples/neobank/package.json
  examples/neobank/tailwind.config.ts
  pnpm-lock.yaml
Labels: kind/feature

#34 feat(neobank): clean up demo IA
  examples/neobank/app/layout.tsx
  examples/neobank/app/page.tsx
  examples/neobank/app/wallets/[walletId]/page.tsx
  examples/neobank/app/wallets/layout.tsx
  examples/neobank/components/StyledTable.tsx
Labels: kind/feature

#35 feat(wallet-lifecycle): scaffold example UI
  examples/wallet-lifecycle/.gitignore
  examples/wallet-lifecycle/.npmignore
  examples/wallet-lifecycle/README.md
  examples/wallet-lifecycle/app/RootHeader.tsx
  examples/wallet-lifecycle/app/favicon.ico
  examples/wallet-lifecycle/app/globals.css
  examples/wallet-lifecycle/app/layout.tsx
  examples/wallet-lifecycle/app/page.tsx
  examples/wallet-lifecycle/app/wallets/[walletId]/page.tsx
  examples/wallet-lifecycle/app/wallets/layout.tsx
  examples/wallet-lifecycle/components/ActiveLink.tsx
  examples/wallet-lifecycle/components/LevainLogo.tsx
  examples/wallet-lifecycle/components/MadeWithLevain.tsx
  examples/wallet-lifecycle/components/StyledTable.tsx
  examples/wallet-lifecycle/components/ThemeSelector.tsx
  examples/wallet-lifecycle/levain.json
  examples/wallet-lifecycle/next.config.js
  examples/wallet-lifecycle/package.json
  examples/wallet-lifecycle/postcss.config.js
  examples/wallet-lifecycle/tailwind.config.ts
  examples/wallet-lifecycle/tsconfig.json
  examples/wallet-lifecycle/vercel.json
  pnpm-lock.yaml
Labels: kind/feature

#37 feat(wallet-lifecycle): route handlers
  examples/neobank/app/page.tsx
  examples/wallet-lifecycle/app/api/endpoint.ts
  examples/wallet-lifecycle/app/api/wallets/[walletId]/route.ts
  examples/wallet-lifecycle/app/api/wallets/route.ts
  examples/wallet-lifecycle/app/layout.tsx
  examples/wallet-lifecycle/app/page.tsx
  examples/wallet-lifecycle/app/route.ts
  examples/wallet-lifecycle/app/wallets/[walletId]/loading.tsx
  examples/wallet-lifecycle/app/wallets/[walletId]/page.tsx
  examples/wallet-lifecycle/app/wallets/loading.tsx
  examples/wallet-lifecycle/app/wallets/page.tsx
  examples/wallet-lifecycle/next.config.js
Labels: kind/feature

#47 chore(workspace): lockfile and workspace fixes
  examples/levain-graphql-examples/package-lock.json
  examples/levain-graphql-examples/src/api/api-cosigning-erc20.ts
  examples/levain-graphql-examples/src/app.ts
  examples/levain-graphql-examples/src/utils/mutations.ts
  package.json
Labels: kind/chore

#46 feat(examples): executeTransaction and custom tx co-signing
  examples/levain-graphql-examples/.env.example
  examples/levain-graphql-examples/api-cosigner-private-key-goerli.json.example
  examples/levain-graphql-examples/api-cosigner-private-key-sepolia.json.example
  examples/levain-graphql-examples/src/api/api-cosigning-custom-tx.ts
  examples/levain-graphql-examples/src/api/api-cosigning-erc20.ts
  examples/levain-graphql-examples/src/api/api-cosigning.ts
  examples/levain-graphql-examples/src/utils/mutations.ts
Labels: kind/feature

#48 chore(workspace): remove setup-node cache
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: kind/chore
