Repository levaintech/levain-examples, pull requests merged in 2023-11, with the labels that each got.

#53 fix(dependency): Add missing "@noble/hashes"
  examples/levain-graphql-examples/package.json
  pnpm-lock.yaml
Labels: kind/fix

#52 fix(examples): no cache for buildTransaction
  examples/levain-graphql-examples/src/api/api-cosigning-erc20.ts
  examples/levain-graphql-examples/src/api/api-cosigning-trc20.ts
  examples/levain-graphql-examples/src/utils/mutations.ts
Labels: kind/fix

#59 chore(graphql-examples): Remove unnecessary input params
  examples/levain-graphql-examples/src/api/api-cosigning-custom-tx.ts
  examples/levain-graphql-examples/src/api/api-cosigning-erc20.ts
  examples/levain-graphql-examples/src/api/api-cosigning-trc20.ts
  examples/levain-graphql-examples/src/api/api-cosigning-trx.ts
  examples/levain-graphql-examples/src/api/api-cosigning.ts
  examples/levain-graphql-examples/src/api/generate-deposit-addresses.ts
  examples/levain-graphql-examples/src/utils/mutations.ts
Labels: kind/chore

#60 feat(sdk-example): add sdk usage examples
  examples/levain-sdk-examples/.env.example
  examples/levain-sdk-examples/.gitignore
  examples/levain-sdk-examples/README.md
  examples/levain-sdk-examples/package.json
  examples/levain-sdk-examples/src/api/001-create-wallet.ts
  examples/levain-sdk-examples/src/api/002-api-cosigning.ts
  examples/levain-sdk-examples/src/api/003-api-cosigning-custom-tx.ts
  examples/levain-sdk-examples/src/api/004-generate-deposit-addresses.ts
  examples/levain-sdk-examples/src/api/client.ts
  examples/levain-sdk-examples/src/api/utils.ts
  examples/levain-sdk-examples/src/app.ts
  examples/levain-sdk-examples/tsconfig.build.json
  examples/levain-sdk-examples/tsconfig.json
  pnpm-lock.yaml
Labels: kind/feature

#61 chore(sdk-example): use type-safe config
  examples/levain-sdk-examples/src/api/001-create-wallet.ts
  examples/levain-sdk-examples/src/api/002-api-cosigning.ts
  examples/levain-sdk-examples/src/api/003-api-cosigning-custom-tx.ts
  examples/levain-sdk-examples/src/api/client.ts
  examples/levain-sdk-examples/src/api/config.ts
  examples/levain-sdk-examples/src/app.ts
Labels: kind/chore

#63 chore(levain-sdk-examples): fix readme links
  examples/levain-sdk-examples/README.md
Labels: kind/chore
