Repository levaintech/levain-examples, pull requests merged in 2024-03, with the labels that each got.

#88 chore(docs): Cleanup evm multichain wallet doc
  examples/levain-sdk-examples/src/api/005-create-wallet-multichain-evm.ts
Labels: kind/chore

#90 chore: bump project deps
  .github/labeler.yml
  .github/renovate.json
  .idea/.gitignore
  examples/package.json
  package.json
  pnpm-lock.yaml
Labels: area/workflow

#94 chore(project): flatten prettier project deps
  .husky/pre-commit
  .idea/levain-examples.iml
  examples/levain-graphql-examples/package.json
  examples/levain-sdk-examples/package.json
  examples/neobank/app/RootHeader.tsx
  examples/neobank/app/layout.tsx
  examples/neobank/app/page.tsx
  examples/neobank/app/setup/page.tsx
  examples/neobank/app/wallets/[walletId]/deposit-addresses/CreateDepositAddressButton.tsx
  examples/neobank/app/wallets/[walletId]/deposit-addresses/page.tsx
  examples/neobank/app/wallets/[walletId]/layout.tsx
  examples/neobank/app/wallets/[walletId]/page.tsx
  examples/neobank/components/Jumbotron.tsx
  examples/neobank/components/MadeWithLevain.tsx
  examples/neobank/components/StyledTable.tsx
  examples/neobank/components/ThemeSelector.tsx
  examples/neobank/components/forms/FormGroup.tsx
  examples/neobank/components/forms/InputBoxes.tsx
  examples/neobank/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.js
  workspace/prettier-config/index.js
  workspace/prettier-config/package.json
Labels: kind/chore

#95 chore(packages): remove deprecated levain-json
  packages/create-levain-app/package.json
  packages/levain-json/LevainJson.ts
  packages/levain-json/package.json
  packages/levain-json/tsconfig.json
  pnpm-lock.yaml
Labels: kind/chore

#96 chore(packages): flatten @stickyjs deps
  .github/renovate.json
  .npmrc
  eslint.config.js
  examples/levain-graphql-examples/package.json
  examples/levain-sdk-examples/package.json
  examples/levain-sdk-examples/tsconfig.json
  package.json
  packages/create-levain-app/package.json
  packages/create-levain-app/src/ProjectProgram.ts
  packages/create-levain-app/tsconfig.json
  pnpm-lock.yaml
  workspace/eslint-config/index.js
  workspace/eslint-config/package.json
  workspace/tsconfig/package.json
  workspace/tsconfig/tsconfig.json
Labels: kind/chore, area/workflow

#100 chore(project): update renovate.json setting
  .github/renovate.json
Labels: kind/chore, area/workflow

#101 feat(examples): add multichain evm safe example
  examples/levain-sdk-examples/src/api/006-create-wallet-multichain-evm-safe.ts
Labels: kind/feature
